@font-face {
    font-family: "Emotional Baggage";
    src: url("../src/fonts/EmotionalBaggage-Regular.ttf");
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #000814;
    font-family: "Emotional Baggage";
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001D3D;
    font-size: 200%;
    font-family: 'Emotional Baggage';
    color: #000814;
    text-shadow: 2px 2px 2px #FFC300;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 30%;
}

.callToAction {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001D3D;
    text-shadow: 1px 1px 1px #FFC300;
    font-size: 150%;
    color: #000814;
    height: 20%;
    border-radius: 15px 15px 0 0;
}

.resultRound, .resultGame{
    display: flex;
    height: 10%;
    background-color: #003566;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 120%;
    color: #000814;
    text-shadow: 1px 1px 1px #FFC300;
}

.scores  {
    display: flex;
    background-color: #003566;
    width: 100%;
    height: 20%;
}

.playerScore, .computerScore {
    width: 50%;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px #FFC300;
}

.choices {
    display: flex;
    height: 10%;
    background-color: #003566;
    width: 100%
}

.choices > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
}

.choices > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 30%;
    background-color: transparent;
    border: none;
    font-size: 100%;
    font-family: 'Emotional Baggage';
    color: #000814;
    text-shadow: 1px 1px 1px #FFC300;
    transition: all 0.5s;
}

.choices > div > button:hover {
    cursor: pointer;
    font-size: 120%;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: #001D3D;
    border-radius: 0 0 15px 15px;
}

.btn > button {
    border: none;
    background-color: #003566;
    height: 40%;
    width: 40%;
    border-radius: 15px;
    box-shadow: #FFD60A 2px 2px 2px;
    font-family: "Emotional baggage";
    text-shadow: 1px 1px 1px #FFC300;
    transition: all 0.5s ease;
}

.btn > button:hover {
    background-color: #FFD60A;
    box-shadow: #003566 2px 2px 2px;
    text-shadow: 1px 1px 1px #FFC300;
    cursor: pointer;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background-color: #001D3D;
    font-size: 150%;
    font-family: 'Emotional Baggage';
    color: #000814;
    text-shadow: 1px 1px 1px #FFC300;
}

/* color palette :
000814, 001D3D, 003566, FFC300, FFD60A */